body {
  font-size: 5px;
  width: 100%;
  font-family: "Verdana", fantasy;
}

.main-wrapper {
  font-size: 14px;
  width: 100%;
  font-family: "Verdana", fantasy;
  display: flex;

  > div {
    margin-top: 20px;
  }
}